<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.budget" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BudgetAndroid.BudgetAndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".BudgetAndroid.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".BudgetAndroid.Login"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BudgetAndroid.Register"
            android:label="@string/title_activity_register"
            android:parentActivityName=".BudgetAndroid.Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BudgetAndroid.Login" />
        </activity>
        <activity
            android:name=".BudgetAndroid.Loss.LossActivity"
            android:label="@string/title_activity_loss"
            android:launchMode="singleTop"
            android:parentActivityName=".BudgetAndroid.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.budget.BudgetAndroid.MainActivity" />
        </activity>
        <activity
            android:name=".BudgetAndroid.Vendors.VendorActivity"
            android:label="@string/title_activity_vendor"
            android:parentActivityName=".BudgetAndroid.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.budget.BudgetAndroid.MainActivity" />
        </activity>
        <activity
            android:name=".BudgetAndroid.Categories.CategoryActivity"
            android:label="@string/title_activity_category"
            android:parentActivityName=".BudgetAndroid.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.budget.BudgetAndroid.MainActivity" />
        </activity>
        <activity
            android:name=".BudgetAndroid.Income.IncomeActivity"
            android:label="@string/title_activity_income"
            android:parentActivityName=".BudgetAndroid.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.budget.BudgetAndroid.MainActivity" />
        </activity>
        <activity
            android:name=".BudgetAndroid.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".BudgetAndroid.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.budget.BudgetAndroid.MainActivity" />
        </activity>
    </application>

</manifest>
